.dropdown {
  @include list-format;
  position: absolute;
  bottom: 265px;
  width: 280px;
  height: 300px;
  border: 1px solid $gray-90;

  &--hidden {
    display: none;
  }
}

.dropdown__item {
  width: 100%;
  height: 50px;
}
